@font-face { font-family: Inter; src: url('../font/Inter.ttf'); } 
body,
html {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Inter;
}

button {
    display: block;
    /* width: 100%; */
    padding: 10px;
    /* margin-bottom: 10px; */
    text-align: left;
    background-color: #555;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}


#fileHandling {
    display: flex;
    /* position: relative; */
    flex-direction: row;
    gap:50px;
    justify-content: center;
    align-items: baseline;
    width: 90%; 
    padding: 20px;
}

.insideText1,
.insideText2,
.insideText3,
.insideText4 {
    color: white; 
}


#control-panel {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#splat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

#splat-menu{
    color: white;
}

#object-info {
    position: absolute;
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 90%;
    height: 90%;
    z-index: 100;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: #c9c6c3;
    background-color: #141414;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the element precisely */
}

#object-model{
    /* display: block; */
    width: 50%;
    height: 100%;
    flex:1;
}

#info-panel {
    margin-bottom: 10px;
    flex:1;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

#info-control{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#info-control:only-child {
    justify-content: flex-end;
}

#userDataTitle{
    align-self: center;
    padding-bottom: 10px;
    color: white;
}

#userDataContent{
    padding-bottom: 10px;
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 10px;
    color: #c9c6c3;
    overflow-y: auto;
    word-wrap: break-word;
}


#editTitle,#editContent{
    display: none;
    width: 100%;
    color: #c9c6c3;
}

#editTitleInfo{
    margin-bottom: 10px;
    background-color: #c9c6c3;
    border-radius: 5px;
}

#editContentInfo{
    resize: none;
    width: 99%;
    margin-bottom: 10px;
    background-color: #c9c6c3;
    border-radius: 5px;
}
#updateInfoButton, #cancelInfoButton {
    display: none;
}

#updateContentButton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#close-button {
    position:absolute;
    top:0;
    right:0;
    padding: 10px;
    cursor: pointer;
    color: white;
}

.label{
    background-color:black;
    color:white;
    padding: 10px;
    position: relative;
    translate: 0px -50px;
    border-radius: 60px;
}
