#buttonDiv {
    position: relative;
}

.insideText1 {
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
}

.insideText2 {
    position: absolute;
    left: 500px;
    top: 20px;
    color: white;
}

.insideText3 {
    position: absolute;
    right: 50px;
    top: 20px;
    color: white;
}

.insideText4 {
    position: absolute;
    right: 200px;
    top: 20px;
    color: white;
}